ion-content {
    font-family: 'Fira Sans', sans-serif !important;
}

.img100 {
    width: 100%;
    height: auto;
}

.auto-scroll .scroll-content {
    overflow: auto;
}

.oleo-script {
    font-family: 'Oleo Script', cursive;
}

.logo-title {
    font-size: 3em;
}

app-login,
app-signup {
    ion-input {
        background-color: #FAFAFA !important;
        border: 1px solid #dbdbdb !important;
        border-radius: 3px;
        color: #999 !important;
        margin-bottom: 10px;
    }
    ion-input,
    ion-button {
        font-size: 0.8em !important;
    }
}

ion-item {
    --highlight-height: 0;
}