<ion-content>
  <ion-grid [fixed]="true">
    <ion-row class="ion-text-justify ion-text-center">
      <ion-col size="12" sizeLg="8" offsetLg="2">

        <br><br><br>

        <h1 class="ion-text-center oleo-script logo-title">Baltagram</h1>
        <br><br>

        <form [formGroup]="form" novalidate>
          <ion-list lines="none">
            <ion-item>
              <ion-input type="email" formControlName="email" placeholder="E-mail"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
            </ion-item>
          </ion-list>
        </form>

        <ion-button [disabled]="form.invalid" size="large" fill="outline" expand="block" (click)="submit()">Cadastrar</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">

    <ion-button size="small" fill="clear" (click)="goToLogin()">
      Já tem conta?&nbsp;<strong>Autentique-se</strong>
    </ion-button>

  </ion-toolbar>
</ion-footer>